<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roadtrip Amerika</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
        <!-- sidebar menu -->

    <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

<div class="main">
</div>


    <div id="app-4">
        <!--<h1>Antelope Canyon</h1>-->
        <ul>
            <li v-for="entry in list">
              <h1>
                {{ entry.Name }}
              </h1>
              <p>{{ entry.Category }}</p>
            </li>
          </ul>
    </div>
    <div id="box2">
        <!--<h1>Sequoia Park</h1>-->
        <ul>
            <li v-for="entry in list">
              <h1>
                {{ entry.Name2 }}
              </h1>
              <p>{{ entry.Category2 }}</p>
            </li>
          </ul>
    </div>
    <div id="box3">
        <!--<h1>Balboa Park</h1>-->
        <ul>
            <li v-for="entry in list">
              <h1>
                {{ entry.Name3 }}
              </h1>
              <p>{{ entry.Category3 }}</p>
            </li>
          </ul>
    </div>
</body>
</html>