body{
    margin: 0;
    padding: 0;
}    
#app-4{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/antelope.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/sequoia.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/balboapark.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
ul{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 120%;
    list-style: none;
    font-family: sans-serif;
}
h1{
    font-size: 500%;
    font-style: oblique;
    text-decoration: underline;
    color: white;
    font-family: none;



}