body{
    margin: 0;
    padding: 0;
}    

#box1{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/about.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#app-4{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/antelope.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/sequoia.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url(fotosproject1/balboapark.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
ul{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 120%;
    list-style: none;
    font-family: sans-serif
}
h1{
    font-size: 500%;
    font-style: oblique;
    text-decoration: underline;
    color: white;
    font-family: none;



}
/* Sidebar menu */


.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 50% 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 150px; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}